<!-- views/partials/navbar.ejs -->
<nav class="navbar">
    <div class="navbar-container">
      <!-- Brand / Logo -->
      <a class="brand" href="/dashboard">Construction Management</a>
  
      <!-- Navigation Links -->
      <ul class="nav-links">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/about">About</a></li>
        <% if (user && user.role === "admin") { %>
          <li><a href="/admin/roles">Roles</a></li>
        <% } %>
      </ul>
  
      <!-- User Menu -->
      <div class="user-menu" id="userMenu">
        <div class="dropdown-toggle">
          <img
            src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg"
            alt="User Avatar"
          />
        </div>
        <ul class="dropdown-menu" id="userDropdownMenu">
          <li><a>Hi, <%- user.name %>!</a></li>
          <li><a>Logged in as: <%- user.role %></a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  