/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 20px;
}

h1 {
    color: #333;
}

.button-group {
    margin-bottom: 20px;
}

.button {
    background-color: #151515;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Adds spacing between buttons */
  }
  
  .view-link {
    background-color: #28a745; /* Green for View */
  }
  
  .view-link:hover {
    background-color: #218838;
  }
  
  .edit-link {
    background-color: #007BFF; /* Blue for Edit */
  }
  
  .edit-link:hover {
    background-color: #0056b3;
  }
  

/* Navbar styling */
.navbar {
    background-color: #141415; /* Dark blue color */
    padding: 15px 0;
    text-align: center;
}

.navbar-container {
    display: inline-block;
}

.navbar-brand, .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

.navbar-brand:hover, .nav-link:hover {
    text-decoration: underline;
}

/* Footer styling */
.footer {
    background-color: #141415; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    /* position: sticky; */
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
