/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    width:100%;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 20px;
}

h1 {
    color: #333;
}

.button-group {
    margin-bottom: 20px;
}

.button {
    background-color: #151515;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Adds spacing between buttons */
  }
  
  .view-link {
    background-color: #28a745; /* Green for View */
  }
  
  .view-link:hover {
    background-color: #218838;
  }
  
  .edit-link {
    background-color: #007BFF; /* Blue for Edit */
  }
  
  .edit-link:hover {
    background-color: #0056b3;
  }
  


/* Footer styling */
.footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
    font-size: 0.9rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }